.list ol {
  list-style: none;
  padding-left: 0px;
  font-weight: 200;
  /* background-color: red; */
}

.textContainer h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.textContainer h2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.textContainer p,
.textContainer li {
  text-align: justify;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.25;
  overflow: auto;
}
.textContainer strong {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}

@media (min-width: 1200px) {
  .textContainer {
    margin-top: 8vh;
  }
}
