.container {
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.textContainer a {
  padding: 7.5px 30px;
  color: white;
  border-radius: 7.5px;
  text-align: center;
  width: 200px;
  background-color: #818ad8;
}
.textContainer h1 {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.textContainer h2 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.textContainer p {
  font-size: 1.15rem;
  font-weight: 200;
  line-height: 1.5;
}
.imageContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
