.container {
  /* border: 1px solid ?; */
  width: 50px;
  min-height: 20px;
  min-width: 1px;
  text-align: center;
  color: transparent;
}

.container:hover {
  box-sizing: border-box;
  border: 1px solid black;
}

@media (min-width: 1200px) {
  .container {
    color: white;
    font-size: 12px;
  }
}
