.links {
  /* set flex to be start and justify content to be end */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.links > a:not(:last-child) {
  padding-right: 30px;
}
.links > a:not(:last-child):hover {
  color: var(--primary-color);
}
.links > a:last-child {
  padding: 3.75px 30px;
  color: white;
  border-radius: 7.5px;
  background-color: var(--primary-color);
  transition: box-shadow 0.3s;
}

.links > a:last-child:hover {
  box-shadow: 0 0 15px rgba(128, 138, 216, 0.5);
}
/* .logo{
  padding-left: 10px;
} */

.nav {
  flex-direction: column;
}
@media (min-width: 1200px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    margin-bottom: 0px;
    justify-self: space-between;
  }
}
